{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "@components": "./src/components/",
          "@icons": "./src/components/UI/Icons",
          "@constants": "./src/constants"
        }
      }
    ]
  ]
}
