{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "@components": "./src/components/",
          "@icons": "./src/components/UI/Icons",
          "@constants": "./src/constants",
          "@hooks": "./src/hooks",
          "@http": "./src/api/http",
          "@services": "./src/api/services",
          "@reducers": "./src/state/reducers"
        }
      }
    ]
  ]
}
