.app {
  margin: 3rem auto;
  width: 30rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  text-align: center;
  button {
    margin-bottom: 10px;
    &.green {
      background-color: green;
    }
    &.red {
      background-color: red;
    }
  }
}

.app h1 {
  margin: 0;
  text-align: center;
}
